.container {
	width: 100%;
	height: 100%;
	position: relative;
}
.infoBlock {
	position: relative;
  height: 80px;
}
.labeltext {
	font-size: 20px;
}
.mapContainer {
	border: solid black 2px;
	height: calc(100% - 100px);
	width: calc(100% - 80px);
	margin-left: 40px;
}

.noBlock {
	display: inline-block;
}